* {
  margin: 0;
}

body {
  background-color: rgb(227, 230, 224);
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}
.app__left {
  flex: 0.9;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
.app__dropdown {
  background-color: white;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
